<div>Registracija korisnika</div>

<form method="post" action="/users/signup">
    <label for="name">Ime</label>
    <input type="text" name="name" minlength="3" maxlength="100" required="" />
    <br />
    <label for="email">E-mail adresa</label>
    <input type="email" name="email" maxlength="100" required="" />
    <br />
    <label for="password">Zaporka</label>
    <input type="password" name="password" minlength="6" required="" />
    <br />
    <label for="passwordConfirmation">Potvrda zaporke</label>
    <input type="password" name="passwordConfirmation" minlength="6" required="" />
    <br />
    <input type="submit" value="Potvrdi" />
    <input type="reset" value="Poništi" />
</form>

{{#if error}}
<p>Dogodila se greška:</p>
<ul>
    <li>{{error}}</li>
</ul>
{{/if}}